.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  padding: 50px 30px;
  background-color: #001f70;
  min-height: 60vh;

}

.title{
    color: #c401ba;
    font-family: 'Pixelify Sans', cursive;
    font-size: x-large;
}

.row{
    display: flex;
    gap: 5rem;
}

.next{
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: white;
    padding: 5px;
}
